.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  left: 0;
  padding: 12px;
  position: fixed;
  top: 0;
}
