:root {
  --primary: #30dafb;
  --backgroundPrimary: #050505;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundPrimary);
  min-height: 100vh;
  overflow: hidden;
}
